* {
	padding: 0;
	margin: 0;	
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f0f0f0;
}

#login_bar {
	height: 25px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #000;
	border-color: #b3e2ff;
}

#header {
	height: 218px;
	background-image: url('images/bg_header.png');
}

#logo {
	margin: auto;
	width: 900px;
}

#nav {
	height: 35px;
	background-image: url('images/bg_nav.png');
	margin-bottom: 20px;
	border-style: solid;
	border-width: 1px 0px 1px 0px;
	border-bottom-color: #000;
	border-top-color: #b3e2ff;
}

#search {
	margin: auto;
	padding-top: 5px;
	text-align: right;
	width: 900px;
}

#main {
	background-color: #FFF;
	margin: auto;
	width: 900px;
	border-style: solid;
	border-width: 1px;
	border-color: #d6d6d6;
	-moz-border-radius: 5px;
	box-shadow: 0 0 3px #CCC;
}

#main_top {
	height: 35px;
	background-color: #f1f1ec;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #d6d6d6;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
}