/* Reset all the things */
* { margin: 0; padding: 0; outline: none; }

body {
	min-width: 900px;
	background: #f6f6f6;
	color: #2e2e2e;
	font: normal normal normal 12px "Segoe UI", Helvetica, "Droid Sans", Arial, Verdana, sans-serif;
}

h1 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 24px;
}

/* Wrapper */
.w_size {
	margin: auto;
	min-width: 900px;
	max-width: 90%;
}
.w_size_min { min-width: 900px; }

.w_content { padding: 20px; }
.w_content_h { padding-right: 20px; padding-left: 20px; }
.w_content_v { padding-top: 20px; padding-bottom: 20px; }
.w_content_t { padding-top: 20px; }
.w_content_r { padding-right: 20px; }
.w_content_b { padding-bottom: 20px; }
.w_content_l { padding-left: 20px; }

/* User Panel */
.user_panel {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	/* border-top: 3px solid #47ade8; */
	background: rgba(10, 10, 10, 0.8);
	color: #ffffff;
	line-height: 30px;
}
.user_panel::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

.search_bar {
	float: left;
}

.user_actions {
	float: right;
}
.user_actions > div {
	float: left;
}
.user_info {
	padding-right: 25px;
}

/* Header */
header.main {
	display: block;
	padding: 33px 0 5px 0;
	height: 40px;
	background: url(images/header.png) #141414 center center repeat-x;
}

/* Main Navigation */
nav.main {
	height: 0;
}
nav.main ul {
	display: block;
	float: right;
	margin-top: -35px;
	height: 35px;
	list-style: none;
	font-weight: bold;
	font-size: 15px;
}
nav.main li {
	float: left;
	margin-left: 8px;
	height: 35px;
}
nav.main a {
	color: #2e2e2e;
	text-decoration: none;
}

nav.main li > a {
	display: block;
	padding: 0 20px;
	height: 35px;
	color: #ffffff;
	line-height: 35px;
}
nav.main li:hover > a {
	color: #47ade8;
}

nav.main li.active > a {
	border-radius: 4px 4px 0 0;
	background: #f6f6f6;
	box-shadow: none;
	color: inherit;
}
nav.main li.active:hover > a {
	color: #000000;
}

/* Sub Navigation */
nav.sub { }

/* Content */
.main_content {
	min-height: 300px;
	background: #f6f6f6;
}
.main_content::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

/* Footer */
footer {
	padding-top: 10px;
	padding-bottom: 20px;
	border-top: 3px solid #47ade8;
}
