.button_bar.left {
	float: left;
	padding-left: 2px;
}
.button_bar.right {
	float: right;
	padding-right: 2px;
}

.button_bar::after,
.container_footer::after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

/* small buttons */
.s_button {
	background: #ffffff url('images/s_button_gradient.svg');
	box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.5) inset;
	height: 12px;
	min-width: 12px;
	padding: 5px;
	margin: 5px 3px;
	color: #333333;
	text-shadow: 0 1px 0 #ffffff;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	border-radius: 2px;
	float: left;
	display: block;
	cursor: default;
}
.s_button:hover {
	background: #e1ffff url('images/s_button_hover_gradient.svg');
	box-shadow: 0 0 4px rgba(225, 255, 255, 0.3), 0 0 1px 1px rgba(255, 255, 255, 0.3) inset;
	color: #003333;
}
.s_button:active {
	background: #D4E4F3 url('images/s_button_active_gradient.svg');
	box-shadow: 0 0 1px 1px rgba(200, 255, 255, 0.5) inset;
}

.button_group {
	float: left;
	border-radius: 0;
}
.button_group .s_button {
	margin-left: 0;
	margin-right: 0;
	border-right: 1px solid #aaaaaa;
	border-radius: 0;
}
.button_group > .s_button:first-child {
	margin-left: 3px;
	border-radius: 2px 0 0 2px;
}
.button_group > .s_button:last-child {
	margin-right: 3px;
	border-radius: 0 2px 2px 0;
	border-right: none;
}