@charset "utf-8";

* {
	outline: 0 none;
}

body {
	margin: 0;
	padding: 0;
	font: 75%/1 Arial, Helvetica, sans-serif;
	background: #1B1B1B url(images/background.png) center top repeat;
	color: #d0d0d0;
	-webkit-font-smoothing: antialiased;
}

section, header, footer, nav {
	display: block;
}

img {
	border: none;
}

a, a:hover {
	color: #000000;
	text-decoration: none;
}

section.Content {
	padding: 35px 0 40px 0;
	background: url(images/content_background.png) center top repeat-x #e7eff5;
}

input[type=search] {
	-webkit-appearance: textfield;
	appearance: normal;
	box-sizing: content-box;
}
::-webkit-input-placeholder {
	color: #97d8f0;
	text-shadow: 0 0 6px rgba(0,0,0,0.5);
}
:-moz-placeholder {
	color: #97d8f0;
	text-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.Size {
	min-width: 900px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.MinSize {
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.SiteContainer {
	background: #f0f0f0;
	color: #000000;
}

.Container {
	background: rgba(255,255,255,0.4);
	/*margin: -10px -10px 20px -10px;*/
	margin: 0 0 10px 0;
	padding: 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-shadow: 0 1px 0 #ffffff;
}

.ContentContainer {
	padding: 10px 20px;
}

.ParseError {
	display: inline-block;
	background: #ffd6d1;
	padding: 0 20px;
	color: #FF0000;
	font-size: 16px;
	text-shadow: 0 1px 0 #ffffff;
	box-shadow: 0 0 4px #000;
	border: 1px solid #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.Boardlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.Category {
	border: 1px solid #000000;
	margin: 10px 0;
}

.CategoryHead {
	background: #6F9;
}

.Forumlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Posts */

.messageSidebar {
    float: left;
    width: 180px;
	text-align: center;
	border-right: 1px solid;
}
.message {
	border: 1px solid;
	border-radius: 7px;
	margin-bottom: 16px;
}
.messageContentInner  {
	padding: 7px;	
}