@charset "utf-8";
/*
	Initial style for global elements, classes and ids.
	This style is loaded as all first one.
*/

/* Element styles */

* {
	outline: 0 none;
}

body {
	margin: 0;
	padding: 0;
	font: normal normal normal 75%/1 Arial, Helvetica, sans-serif;
	background: #1B1B1B url(images/background.png) center top repeat;
	color: #d0d0d0;
	-webkit-font-smoothing: antialiased;
}

section, header, footer, nav {
	display: block;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a, a:hover {
	color: #000000;
	text-decoration: none;
}

input[type=search] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}
::-webkit-input-placeholder {
	color: #97d8f0;
	text-shadow: 0 0 6px rgba(0,0,0,.5);
}
input:-moz-placeholder {
	color: #97d8f0;
	text-shadow: 0 0 6px rgba(0,0,0,.5);
}

/* Classes and IDs */

.size {
	min-width: 900px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.min_size {
	min-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

section.content {
	padding: 35px 0 40px 0;
	background: url(images/content_background.png) center top repeat-x #ddeaff;
}

.site_container {
	background: #f0f0f0;
	color: #000000;
}

/* container -> */
.container {
	background: rgba(255,255,255,0.4);
	margin: 0 0 10px 0;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(0,0,0,0.075);
}
	.container > div:first-child {
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}
	.container > div:last-child {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	.container_head {
		background: #3f6f8e url(images/container_head_gradient.svg);
		color: #efefef;
		text-shadow: 0 1px 3px rgba(0,0,0,.5);
		text-align: center;
		border: 1px solid #0B334C;
		white-space: nowrap;
		box-shadow: inset 0 0 1px #ffffff;
	}
		.container_head .title {
			font-weight: bold;
			font-size: 14px;
			line-height: 24px;
			padding: 0 15px;
			color: #ffffff;
		}
		.container_head .description {
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			padding: 0 15px 4px 15px;
			color: #efefef;
		}
		.container_head menu {
			list-style: none;
			display: block;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
			.container_head menu li {
				display: inline-block;
				margin: 0;
				padding: 5px 5px 8px 5px;
			}
			.container_head li .menu_title {
				font-weight: normal;
				font-size: 12px;
			}
			.container_head li .menu_icon {
				height: 64px;
				width: 64px;
				margin: 0 auto 5px auto;
				padding: 0;
				background: url("icons/w_64_circle.png") center center no-repeat;
			}
		.container_head .step_bar {
			height: 33px;
			padding: 7px 30px 0 30px;
			margin: 0 0 -19px 0;
			position: relative;
			z-index: 100;
		}
			.step_bar .step_bullet_wrap {
				height: 33px;
				width: 0;
				margin-right: 33.3333333333%;
				float: left;
			}
				.step_bar .step_bullet_wrap:last-child {
					margin: 0;
				}
				.step_bar .step_bullet {
					height: 43px;
					width: 43px;
					background: url("images/step_bullet.png") center top no-repeat;
					margin-left: -22px;
					margin-top: -5px;
					line-height: 43px;
					color: #000000;
					text-shadow: 0 1px 0 rgba(255,255,255,.6);
					text-align: center;
					font-weight: bold;
					font-size: 16px;
				}
				.step_bullet_wrap.current .step_bullet {
					background-position: center -43px;
				}
				.step_bullet_wrap.done .step_bullet {
					background-position: center -86px;
				}
	.container_progress {
		background: #0B334C;
		border: 1px solid #0B334C;
		border-top: none;
		height: 4px;
	}
		.container_progress.step {
			padding: 0 30px;
		}
		.container_progress .progress_bar {
			background: #f5f5f5;
			height: 4px;
		}
			.container_progress .progress {
				background: #8ac466;
				height: 4px;
				width: 0px;
				box-shadow: inset 0 0 1px #ffffff;
			}
	.container_content {
		background: #f5f5f5;
		border: 1px solid #0B334C;
		border-top: none;
		color: #000000;
	}
	.container_footer {
		background: #3f6f8e;
		border: 1px solid #0B334C;
		border-top: none;
		color: #ffffff;
		line-height: 20px;
		min-height: 20px;
		box-shadow: inset 0 0 1px white;
	}
/* <- container */