@charset "utf-8";
/**
 * author 		Nut
 * copyright	© 2011 Silex Bulletin Board - Team
 * license		GNU GENERAL PUBLIC LICENSE - Version 3
 * package		SilexBoard
 * version		DEV
 */
 
p {
	 padding: 1;
	 margin: 0;
 }

.Board {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

li.BoardCategory {
	margin-bottom: 20px;
	-moz-box-shadow: 0px 2px 5px #aaa;
	-webkit-box-shadow: 0px 2px 5px #aaa;
	box-shadow: 0px 2px 5px #aaa;
}

.BoardHead {
	background: -moz-linear-gradient(top, #4a96c6, #2a669e);
	background: -webkit-linear-gradient(top, #4a96c6, #2a669e);
	background: linear-gradient(top, #4a96c6, #2a669e);
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #000;
	border-bottom: 0;
	color: #FFF;
	padding: 5px;
}

ul.Forum, p.BoardHead {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-top: 5px;
	padding-left: 20px;
	font-size: 16px;
	color: #FFF;
}

a.BoardTitle {
	color: #FFF;
	font-weight: bolder;
}

ul.BoardForum {
	background: #f4f3f3;
	list-style-type: none;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-style:solid;
	border-spacing:0px;
	border-color:#000;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 0px 0px 5px 5px;	
	margin: 0;
	padding: 0;
}

li.BoardList {
	font-size: 12px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-style:solid;
	border-spacing:0px;
	border-color:#000;
	padding: 10px 20px 10px 20px;
	min-height: 32px;
}

.ListLeft {
	width: 60%;
	float: left;
}

.ListIcon {
	float: left;
	width: 32px;
	text-align: center;
	padding-right: 10px;
}

.ListMiddle {
	width: 20%;
	float: left;
	text-align: right;
}

.ListRight {
	width: 20%;
	float: right;
	text-align: right;
}

/* Topic List */

.TopicTable {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000;
	background-color: #f4f3f3;
	-moz-box-shadow: 0px 2px 5px #aaa;
	-webkit-box-shadow: 0px 2px 5px #aaa;
	box-shadow: 0px 2px 5px #aaa;
	margin: 10px;
}

table.Main {
	border-collapse: collapse;
}

th.TopicHead {
	background: -moz-linear-gradient(top, #4a96c6, #2a669e);
	background: -webkit-linear-gradient(top, #4a96c6, #2a669e);
	background: linear-gradient(top, #4a96c6, #2a669e);
	color: #FFF;
	text-align: left;
	padding-left: 20px;
}

tr.Description {
	background-image: url('images/bg_desc.png');
	height: 19px;
	font-size: 14px;
	text-align: center;
}

td.Description {
	border-left-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-style:solid;
	border-spacing:0px;
	border-color:#000;	
}

td.DescriptionTopic {
	border-left-width: 0px;
}

td.Content {
	font-size: 12px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-left-width:0px;
	border-right-width:0px;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-style:solid;
	border-spacing:0px;
	border-color:#000;
}

p.Topic {
	margin-bottom: 0px;
}

td.TextTopic {
	text-align: center;
	border-left-width:1px;
	border-right-width:0px;
	border-bottom: 0px;
	border-top-width: 1px;
	border-style:solid;
	border-spacing:0px;
	border-color:#000;
}