@charset "utf-8";

footer {
	color: #ffffff;
	text-shadow: 0 0 4px #000000;
	background: #1B1B1B url(images/footer.png) center top repeat;
	border-top: 2px solid #ffffff;
	padding: 30px 0 0 0;
}
	footer a, footer a:link, footer a:visited {
		color: #ffffff;
		text-decoration: none;
		display: inline-block;
		margin: 0 0 1px 0;
		padding: 3px;
		border-radius: 4px;
	}
	footer a:hover {
		color: #ffffff;
		box-shadow: 0 1px 4px #000000;
		background: #3c4a58;
	}
	footer a:active {
		color: #ffffff;
		margin: 1px 0 0 0;
		box-shadow: 0 0px 3px #000000;
		background: #232b33;
	}

	footer .Time {
		width: 250px;
		float: right;
		padding: 2px 0;
	}
		footer .YearProgressbar, footer .DayProgressbar {
			box-shadow: 0 0 4px #000000;
			border-radius: 1px;
			overflow: hidden;
		}
		footer .YearProgressbar {
			width: 250px;
			height: 4px;
			margin-top: 3px;
			background: #ffffff;
		}
		footer .YearProgress {
			width: 0px;
			height: 4px;
			background: #558FA4;
		}
		footer .DayProgressbar {
			width: 100px;
			height: 4px;
			margin-top: 5px;
			background: #ffffff;
			float: right;
		}
		footer .DayProgress {
			width: 0px;
			height: 4px;
			background: #558FA4;
		}

	footer .Legal {
		padding: 15px 0;
		margin-top: 20px;
		text-align: center;
		border-top: 1px solid #333333;
		border-bottom: 1px solid #333333;
		background: rgba(50, 50, 50, 0.25);
	}

	footer .Copyright {
		color: #979797;
	}