@charset "utf-8";

section.UserBar {
	background: #111111 url(images/userbar.png) center bottom repeat;
	border-bottom: 1px solid #6588ad;
	/*height: 26px;*/
	color: #ffffff;
	text-align: right;
	padding-top: 10px;
}

.UserTabs {
	padding-bottom: 10px;
}
	.UserTabs ul {
		list-style: none;
		padding: 0;
		margin: 0;
		white-space: nowrap;
	}
		.UserTabs ul li {
			display: inline-block;
			border-right: 1px solid #ffffff;
			color: #ffffff;
			text-shadow: 0 0 4px #000000;
		}
			.UserTabs ul li:last-child {
				border: none;
			}
			.UserTabs li a, .UserTabs li a:link, .UserTabs li a:visited {
				color: inherit;
				line-height: 18px;
				padding: 0 10px 1px 24px;
				background: none 6px center no-repeat;
				display: block;
			}
				.UserTabs li a:hover {
					color: #98ffff
				}
			.UserTabs li#Username a {
				background-image: url(icons/w_16_single_user.png);
			}
			.UserTabs li#Settings a {
				background-image: url(icons/w_16_settings.png);
			}
			.UserTabs li#Logout a {
				background-image: url(icons/w_16_off.png);
			}

#LoginBarHandle {
	height: 0;
	display: block;
}
	#LoginBarHandle #LoginBarToogle {
		background: #111111 url(images/userbar.png) center top repeat;
		color: #ffffff;
		text-shadow: 0 0 4px #000000;
		display: inline-block;
		cursor: pointer;
		border-radius: 0 0 6px 6px;
		box-shadow: 0 3px 20px #111111;
	}
		#LoginBarHandle #LoginBarToogle:active {
			box-shadow: 0 1px 10px #111111;
		}
	#LoginBarInner {
		background: url(icons/w_16_key.png) 8px center no-repeat;
		padding: 8px 12px 12px 30px;
	}

#LoginForm {
	font-size: 16px;
	text-align: left;
	opacity: 0;
	display: none;
}

.Wrap {
	width: 600px;
	margin: 0 auto;
	padding: 0 0 10px 0;
}
	.Wrap ul {
		list-style: none;
		padding: 0;
		margin: 0 0 10px 0;
		vertical-align: middle;
	}
		.Wrap ul li {
			width: 290px;
			height: 24px;
			text-align: left;
			float: right;
			vertical-align: middle;
			line-height: 24px;
			text-shadow: 0 0 6px #000000;
		}
			.Wrap ul li:first-child {
				text-align: right;
				float: left;
			}
			.Wrap ul li.Clear {
				float: none;
				height: 0;
				clear: both;
				margin: 0;
				padding: 0;
			}
		.Wrap .LoginSubmit li + li {
			margin-top: 3px;
		}
	.Wrap input[type=checkbox] {
		display: none;
	}
		.Wrap input[type=checkbox] + label.Check {
			display: inline-block;
			height: 24px;
			width: 24px;
			background: url(images/w_checkbox.png) left top no-repeat;
			margin: -6px -3px -2px 0;
		}
			.Wrap input[type=checkbox] + label.Check:hover {
				background-position: left -24px;
			}
			.Wrap input[type=checkbox] + label.Check:active {
				background-position: left -48px;
			}
		
		.Wrap input[type=checkbox]:checked + label.Check {
			background-position: left -72px;
		}
			.Wrap input[type=checkbox]:checked + label.Check:hover {
				background-position: left -96px;
			}
			.Wrap input[type=checkbox]:checked + label.Check:active {
				background-position: left -120px;
			}
	
	.Wrap input[type=radio] {
		display: none;
	}
		.Wrap input[type=radio] + label.Check {
			display: inline-block;
			height: 16px;
			width: 16px;
			background: url(images/w_radiobutton.png) left top no-repeat;
			margin: 4px 5px -2px 0;
		}
			.Wrap input[type=radio] + label.Check:hover {
				background-position: left -16px;
			}
			.Wrap input[type=radio] + label.Check:active {
				background-position: left -32px;
			}
		
		.Wrap input[type=radio]:checked + label.Check {
			background-position: left -48px;
		}
			.Wrap input[type=radio]:checked + label.Check:hover {
				background-position: left -64px;
			}
			.Wrap input[type=radio]:checked + label.Check:active {
				background-position: left -80px;
			}
	.Wrap input[type=text], .Wrap input[type=password] {
		background: transparent none no-repeat 4px center;
		box-shadow: inset 0 0 4px #000000, 0 0 4px #000000;
		color: #ffffff;
		font-weight: bold;
		border: 2px solid #ffffff;
		text-shadow: 0 0 4px #000000;
		border-radius: 4px;
		height: 24px;
		width: 200px;
		line-height: 24px;
		padding: 0 4px 0 22px;
	}
		.Wrap input[type=text] {
			background-image: url(icons/w_16_user.png);
		}
		.Wrap input[type=password] {
			background-image: url(icons/w_16_key.png);
		}
	/*.Wrap input[type=text]:hover, .Wrap input[type=password]:hover {
		border-color: #558fa4;
	}
	.Wrap input[type=text]:focus, .Wrap input[type=password]:focus {
		border-color: #1d3139;
	}*/

	.Wrap input[type=submit] {
		background: transparent url(icons/w_16_off.png) no-repeat 4px center;
		box-shadow: inset 0 0 4px #000000, 0 0 4px #000000;
		color: #ffffff;
		padding: 3px 10px 3px 22px;
		font-weight: bold;
		border: 2px solid #ffffff;
		text-shadow: 0 0 4px #000000;
		border-radius: 4px;
	}
	/*.Wrap input[type=submit]:hover {
		border-color: #558fa4;
	}
	.Wrap input[type=submit]:active {
		border-color: #1d3139;
	}*/

header {
	background: #3c4a58 url(images/header.png) repeat-x center bottom;
}

.Logo {
	padding: 5px 0;
	vertical-align: middle;
}
	.Logo img {
		height: 160px;
	}

.Slogan {
	position: relative;
	top: -64px;
	left: 132px;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	height: 0;
	width: 40%;
	text-shadow: 0 0 10px black;
}

nav.Menu {
	background: #3c6c8b url(images/menubar.png) repeat-x center top;
	border-bottom: 1px solid #0b334c;
	border-top: 1px solid #558fa4;
	height: 36px;
	margin-top: 38px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}
	nav.Menu a, nav.Menu a:hover, nav.Menu a:active, nav.Menu a:visited, nav.Menu a:link {
		text-decoration: none;
		outline: none;
	}
	nav.Menu .MenuList {
		list-style: none;
		display: block;
		padding: 0;
		margin: 0;
		height: 38px;
		margin-top: -38px;
		z-index: 10;
		font-size: 15px;
	}
		nav.Menu .MenuList li {
			height: 36px;
			float: left;
			display: block;
			margin-right: 10px;
		}
		nav.Menu .Menulist li.active {
			height: 37px;
		}
			nav.Menu .MenuList li div{
				background: rgba(60, 108, 139, 0.5);
				color: #97c8ff;
				font-weight: bold;
				text-shadow: 0 1px 1px #000000;
				display: block;
				padding: 0 20px;
				height: 36px;
				line-height: 36px;
				border-top: 1px solid rgba(85, 143, 164, 0.5);
				-moz-border-radius: 5px 5px 0 0;
				-webkit-border-radius: 5px 5px 0 0;
				border-radius: 5px 5px 0 0;
				cursor: pointer;
			}
			nav.Menu .MenuList li:hover div {
				background: rgba(85, 133, 164, 0.5);;
				border-top-color: rgba(112, 159, 191, 0.5);
				color: #a9daff;
			}
			nav.Menu .MenuList li:active div {
				background: rgba(31, 83, 112, 0.5);
				border-top-color: rgba(85, 143, 164, 0.5);
				color: #a9daff;
			}
			nav.Menu .MenuList li.active div {
				background: url(images/tab_active.png) repeat-x left top transparent;
				color: #ffffff;
				font-weight: bold;
				text-shadow: 0 1px 1px #000000;
				display: block;
				padding: 0 20px;
				height: 37px;
				line-height: 37px;
				border-top: 1px solid #558fa4;
			}
			nav.Menu .MenuList li.active:hover div {
				background-position: left -40px;
				border-top-color: #d9ffff;
				color: #ffffff;
			}
			nav.Menu .MenuList li.active:active div {
				background-position: left -80px;
				border-top-color: #7eb1e1;
				color: #ffffff;
			}
	.SubMenu {
		float: left;
		height: 36px;
		max-width: 700px;
		line-height: 36px;
		padding: 0;
		margin: 0;
	}

	#SearchForm {
		float: right;
		border: 2px solid rgba(255, 255, 255, 0);
		width: 200px;
		height: 24px;
		background: rgba(0, 0, 0, 0.1);
		overflow: hidden;
		margin: 4px 0;
		border-radius: 5px;
	}
		#SearchForm input[type=search] {
			color: #ffffff;
			background: none;
			border: 0 none;
			display: block;
			float: left;
			height: 24px;
			line-height: 24px;
			padding: 0 6px;
			width: 168px;
		}
		#SearchForm #SearchSubmit {
			background: transparent url(images/w_18_magnifying_glass.png) no-repeat left 0;
			border: 0px none;
			display: block;
			float: right;
			height: 24px;
			width: 20px;
		}
			#SearchForm #SearchSubmit:hover {
				background-position: left -24px;
			}
			#SearchForm #SearchSubmit:active {
				background-position: left -48px;
			}

