@charset "utf-8";

.MessageBox {
	border-top: 1px solid;
	border-bottom: 1px solid;
	margin: -10px 0 20px 0;
	box-shadow: 0 1px 1px #fff inset, 0 0 5px rgba(0, 0, 0, .25);
	text-shadow: 0 1px 2px rgba(0, 0, 0, .35), 0 -1px 1px rgba(255, 255, 255, .4);
}
	.MessageBox div div {
		padding: 12px 0 12px 46px;
		background-position: 5px center;
		background-repeat: no-repeat;
	}
	
	.MessageBox.success {
		color: #015301;
		background: #53dc53;
		border-color: #015301;
	}
		.MessageBox.success div div {
			background-image: url('icons/w_32_check.png');
		}
	
	.MessageBox.warning {
		color: #393900;
		background: #eded39;
		border-color: #393900;
	}
		.MessageBox.warning div div {
			background-image: url('icons/w_32_attention.png');
		}
	
	.MessageBox.error {
		color: #6a1717;
		background: #e88585;
		border-color: #6a1717;
	}
		.MessageBox.error div div {
			background-image: url('icons/w_32_attention.png');
		}
	
	.MessageBox.info {
		color: #173350;
		background: #7aa9d8;
		border-color: #173350;
	}
		.MessageBox.info div div {
			background-image: url('icons/w_32_info.png');
		}