@charset "utf-8";

.notification {
	margin: -10px 0 20px 0;
	padding: 10px 0px;
	background: rgba(255, 255, 255, 0.4);
	color: #333333;
	text-shadow: 0 1px 0px rgba(255, 255, 255, .4);
}
	.notification_inner {
		border-top: 1px solid rgba(0, 0, 0, .1);
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}
	.notification_content {
		background: no-repeat right center;
		margin-right: 10px;
		padding: 13px 36px 13px 0;
	}

	.notification.info .notification_inner {
		background-color: #c4d7f5;
	}
		.notification.info .notification_content {
			background-image: url('icons/g_32_info.png');
		}
	.notification.success .notification_inner {
		background-color: #d3f5c4;
	}
		.notification.success .notification_content {
			background-image: url('icons/g_32_success.png');
		}
	.notification.warning .notification_inner {
		background-color: #f2f5c4;
	}
		.notification.warning .notification_content {
			background-image: url('icons/g_32_warning.png');
		}
	.notification.error .notification_inner {
		background-color: #f5c4c4;
	}
		.notification.error .notification_content {
			background-image: url('icons/g_32_alert.png');
		}










	/*.notification div div {
		padding: 12px 0 12px 46px;
		background-position: 5px center;
		background-repeat: no-repeat;
	}
	
	.notification.success {
		color: #015301;
		background: #53dc53;
		border-color: #015301;
	}
		.notification.success div div {
			background-image: url('icons/w_32_check.png');
		}
	
	.notification.warning {
		color: #393900;
		background: #eded39;
		border-color: #393900;
	}
		.notification.warning div div {
			background-image: url('icons/w_32_attention.png');
		}
	
	.notification.error {
		color: #6a1717;
		background: #e88585;
		border-color: #6a1717;
	}
		.notification.error div div {
			background-image: url('icons/w_32_attention.png');
		}
	
	.notification.info {
		color: #173350;
		background: #7aa9d8;
		border-color: #173350;
	}
		.notification.info div div {
			background-image: url('icons/w_32_info.png');
		}
*/