@charset "utf-8";

* {
	outline: 0 none;
}

body {
	margin: 0;
	padding: 0;
	font: 75%/1 Arial, Helvetica, sans-serif;
	background: #f0f0f0;
}

section, header, footer, nav {
	display: block;
}

img {
	border: none;
}

section.UserBar {
	background: #111111;
	border-bottom: 1px solid #b3e2ff;
	/*height: 26px;*/
	color: #ffffff;
	text-align: right;
	padding-top: 10px;
}

#LoginBarHandle {
	height: 0;
	display: block;
}

#LoginBarHandle div {
	background: #111111;
	color: #ffffff;
	display: inline-block;
	padding: 0 5px 3px 5px;
	cursor: pointer;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#LoginForm {
	font-size: 16px;
	text-align: left;
}

.Wrap {
	width: 600px;
	margin: 0 auto;
	padding: 0 0 10px 0;
}
	.Wrap ul {
		list-style: none;
		padding: 0;
		margin: 0 0 10px 0;;
	}
		.Wrap ul li {
			width: 290px;
			height: 24px;
			text-align: left;
			float: right;
		}
		.Wrap ul li:first-child {
			text-align: right;
			float: left;
		}
		.Wrap .LoginFormMethode {
			padding-left: 310px;
		}
			.Wrap .LoginFormMethode li, .Wrap .LoginFormMethode li:first-child {
				float: none;
				text-align: left;
			}
		.Wrap .LoginFormSubmit {
			/*padding-left: 300px;*/
		}
			.Wrap .LoginFormSubmit ul {
				margin: 0;
			}

header {
	height: 260px;
	background: #387bd1 url(images/HeaderBG.png) repeat-x left top;
}

.Logo {
	padding: 5px 0;
}

nav.Menu {
	background: #22a0ef url(images/MenuBar.png) repeat-x left top;
	border-bottom: 1px solid #0b334c;
	border-top: 1px solid #b3e2ff;
	height: 35px;
}

nav.Menu a, nav.Menu a:hover, nav.Menu a:active, nav.Menu a:visited, nav.Menu a:link {
	text-decoration: none;
	outline: none;
}

nav.Menu .MenuList {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
	height: 38px;
	margin-top: -38px;
	z-index: 10;
	font-size: 15px;
}

nav.Menu .MenuList li {
	height: 36px;
	float: left;
	display: block;
	margin-right: 10px;
}

nav.Menu .Menulist li.active {
	height: 37px;
}

nav.Menu .MenuList li div{
	background: #1c88db;
	color: #97c8ff;
	font-weight: bold;
	text-shadow: 0 1px 1px #000000;
	display: block;
	padding: 0 20px;
	height: 36px;
	line-height: 36px;
	border-top: 1px solid #66a5dd;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}

nav.Menu .MenuList li.active div {
	background: #24abff;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 1px 1px #000000;
	display: block;
	padding: 0 20px;
	height: 37px;
	line-height: 37px;
	border-top: 1px solid #b3e2ff;
}

nav.Menu .MenuList li:hover div {
	background: #4ea4f9;
	border-top-color: #82c0f9;
	color: #a9daff;
}

nav.Menu .MenuList li.active:hover div {
	background: #24abff url(images/TabActive.png) repeat-x left top;
	/*border-top-color: #c9f8ff;*/
	border-top-color: #d9ffff;
	color: #ffffff;
}

nav.Menu .MenuList li:active div {
	background: #347acb;
	border-top-color: #4e8fc6;
	color: #a9daff;
}

nav.Menu .MenuList li.active:active div {
	background: #24abff url(images/TabActive.png) repeat-x left -47px;
	border-top-color: #7eb1e1;
	color: #ffffff;
}

.SearchForm {
	float: right;
}

.SearchForm #Search {
	border: 1px solid #0b334d;
	width: 200px;
	height: 24px;
	line-height: 26px;
	background: #EEE;
	padding-left: 5px;
	padding-right: 31px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3) inset;
}

.SearchForm #Search:hover {
	border-color: #001f37;
	box-shadow: 0 3px 3px rgba(0,0,0,0.3) inset, 0 0 3px #d7ffff;
}

.SearchForm #Search:focus {
	box-shadow: 0 3px 3px rgba(0,0,0,0.3) inset, 0 0 6px #d7ffff;
}

.SearchForm #SearchSubmit {
	height: 24px;
	width: 24px;
	background: transparent url(icons/Search.png) no-repeat center center;
	margin: 5px 0 0 -26px;
	border-width: 1px;
	border-style: none;
}

section.Content {
	background: #f0f0f0;
}

.Size {
	width: 905px;
	margin-left: auto;
	margin-right: auto;
}

.Container {
	background: #ffffff;
	border: 1px solid #d6d6d6;
	margin: 30px 0;
	box-shadow: 0 0 13px rgba(0,0,0,0.1);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.BreadCrumbs {
	background: #f1f1ec;
	height: 36px;
	border-bottom: 1px solid #d6d6d6;
	white-space: nowrap;
	font-size: 14px;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}

.Crust {
	height: 36px;
	display: block;
	float: left;
}

.Crumb {
	height: 36px;
	line-height: 36px;
	display: block;
	padding: 0 10px 0 20px;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	float: left;
}

.Crust:first-child .Crumb {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
	padding: 0 10px 0 15px;
}

.Arrow {
	border-top: 18px solid transparent;
	border-right: 1px none black;
	border-bottom: 18px solid transparent;
	border-left: 12px solid #d6d6d6;
	height: 0px;
	width: 0px;
	display: block;
	float: left;
	position: relative;
	right: -11px;
	margin-left: -12px;
}

.Arrow span {
	border-top: 17px solid transparent;
	border-right: 1px none black;
	border-bottom: 17px solid transparent;
	border-left: 11px solid #f1f1ec;
	height: 0px;
	width: 0px;
	display: block;
	margin: -17px 0 0 -12px;
}

.Crust:hover .Crumb {
	background: #f9f9f9;
}

.Crust:hover .Arrow span {
	border-left-color: #f9f9f9;
}

a.Crumb, a.Crumb:hover, a.Crumb:active, a.Crumb:visited, a.Crumb:link {
	text-decoration: none;
}

footer {
	background: #99C;
}

.ContentContainer {
	padding: 10px 20px;
}

.ParseError {
	display: inline-block;
	background: #ffd6d1;
	padding: 0 20px;
	color: #FF0000;
	font-size: 16px;
	text-shadow: 0 1px 0 #ffffff;
	box-shadow: 0 0 4px #000;
	border: 1px solid #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.Boardlist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.Category {
	border: 1px solid #000000;
	margin: 10px 0;
}

.CategoryHead {
	background: #6F9;
}

.Forumlist {
	list-style: none;
	margin: 0;
	padding: 0;
}