.boardlist, .boardlist ul {
	list-style: none;
}

.boardlist a {
	color: #095d8d;
	text-decoration: none;
}

.boardlist > li {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}
.boardlist > li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.boardlist > li:first-child {
	padding-top: 0;
}
.boardlist > .category > .title,
.boardlist > .forum > div > .title,
.boardlist > .link > .title {
	color: #095d8d;
	font-weight: bold;
	font-size: 18px;
}

.boardlist .description {
	color: #999;
}

.boardlist .left_cell {
	float: left;
	width: 50%;
}
.boardlist .right_cell {
	float: right;
	width: 49.9%;
}
.boardlist .forum::after,
.boardlist .sub_board::before {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

.sub_board > li {
	padding: 10px 36px;
	min-height: 32px;
	border-top: 1px dotted #ddd;
	background-position: 0 50%;
	background-repeat: no-repeat;
}
.sub_board > li:last-child {
	padding-bottom: 0;
	background-position: 0 calc(50% + 5px);
}
.sub_board > .category > .title,
.sub_board > .forum > div > .title,
.sub_board > .link > .title {
	color: #095d8d;
	font-weight: bold;
	font-size: 14px;
}

.sub_board > .forum {
	background-image: url('icons/g_32_archive.png');
}
.sub_board > .link {
	background-image: url('icons/g_32_link.png');
}

.sub_sub_board {
	text-align: right;
}
.sub_sub_board > li {
	display: inline-block;
}
