.boardlist, .boardlist ul {
	list-style: none;
	text-shadow: 0 1px 0 #fff;
}

.boardlist a {
	text-decoration: none;
	color: #095d8d;
}

.boardlist > li {
	padding: 20px;
	border-bottom: 1px solid #ddd;
}
.boardlist > li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.boardlist > li:first-child {
	padding-top: 0;
}
.boardlist > .category > .title,
.boardlist > .forum > div > .title,
.boardlist > .link > .title {
	font-size: 18px;
	font-weight: bold;
	color: #095d8d;
}

.boardlist .description {
	color: #999;
}

.boardlist .left_cell {
	float: left;
	width: 50%;
}
.boardlist .right_cell {
	float: right;
	width: 49.9%;
}
.boardlist .forum::after,
.boardlist .sub_board::before {
	content: "";
	clear: both;
	height: 0;
	display: block;
}

.sub_board > li {
	padding: 10px 20px;
	border-top: 1px dotted #ddd;
}
.sub_board > li:last-child {
	padding-bottom: 0;
}
.sub_board > .category > .title,
.sub_board > .forum > div > .title,
.sub_board > .link > .title {
	font-size: 14px;
	font-weight: bold;
	color: #095d8d;
}
