form {
	font-size: 13px;
}

/* Input */
.input {
	display: inline-block;
	margin: 2px;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
	font-size: 13px;
	transition: all .25s;
}
.input::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

.input.big {
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	background: transparent;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	font-weight: bold;
	font-size: 18px;
}

.input:hover {
	border-color: #ccc;
}
.input.focus {
	border-color: #17a7df;
}
.input input {
	margin: 0;
	padding: 0 22px 0 5px;
	width: 200px;
	height: 20px;
	border: none;
	background: transparent calc(100% - 2px) 50% no-repeat;
	color: #2e2e2e;
}
.input.big input {
	width: 400px;
	height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
/* Input types */
.input.text input {
	padding: 0 5px;
	width: 217px;
	background-image: none;
}
.input.text.big input {
	width: 417px;
}
.input.password input {
	padding-right: 2px;
}
.input.password .switch {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	background: url('icons/g_16_preview.png') 50% 50% no-repeat;
}
.input.password.big .switch {
	height: 30px;
}
.input.user input { background-image: url('icons/g_16_user.png'); }
.input.email input { background-image: url('icons/g_16_mail.png'); }
.input.big::after {
	position: absolute;
	display: block;
	margin-top: -4px;
	margin-left: -2px;
	width: 429px;
	height: 6px;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	transition: all .25s;
}
.input.big:hover::after {
	border-color: #ccc;
}
.input.big.focus::after {
	border-color: #17a7df;
}

/* Select */
select {
	margin: 0px 0;
	padding: 5px;
	width: 230px;
	height: 30px;
	border: solid 1px #ebebeb;
	border-radius: 2px;
	background: white url('icons/g_16_arrows_up_down.png') right center no-repeat;
	color: #333;
	line-height: normal;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
optgroup {
	color: #4d4d4d;
	font-weight: normal;
}
option {
	color: #333;
}
optgroup > option {
	padding-left: 15px;
}

/* Button */
.button_bar::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

/* Default button */
button,
input[type=button],
input[type=submit],
input[type=file] {
	display: block;
	float: left;
	box-sizing: border-box;
	margin: 0 5px;
	padding: 0 13px;
	min-width: 30px;
	height: 30px;
	border: 1px solid #d1d1d3;
	border-bottom: 1px solid #c1c1c3;
	border-radius: 2px;
	background-image: linear-gradient(#f6f6f6 5%, #efefef 50%, #ddd);
	box-shadow: inset 0 1px 0 #fff;
	color: #666;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	font-weight: bold;
	transition: all .25s;
	-webkit-user-select: none;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=file]:hover {
	border-color: #c0c0c0;
	background-image: linear-gradient(#f9f9f9 5%, #f0f0f0 50%, #e6e6e6);
}

button:active,
input[type=button]:active,
input[type=submit]:active,
input[type=file]:active {
	border-color: #ccc;
	background-image: linear-gradient(#eee, #e0e0e0);
	box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}

/* Highlighted button */
button.highlight,
input[type=button].highlight,
input[type=submit].highlight,
input[type=file].highlight {
	border: 1px solid #5187df;
	border-bottom: 1px solid #3870cf;
	background-image: linear-gradient(#5499f4 5%, #5294f2 50%, #4b85f1);
	box-shadow: inset 0 1px 0 #5fa8f7;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

button.highlight:hover,
input[type=button].highlight:hover,
input[type=submit].highlight:hover,
input[type=file].highlight:hover {
	border-color: #2f5bb7;
	background-image: linear-gradient(#4d90fe, #357ae8);
}

button.highlight:active,
input[type=button].highlight:active,
input[type=submit].highlight:active,
input[type=file].highlight:active {
	border-color: #2f5bb7;
	background-image: linear-gradient(#4d90fe, #4787ed);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

button.inline,
input[type=button].inline,
input[type=submit].inline,
input[type=file].inline {
	display: inline-block;
	float: none;
}

/* Group */
.button_group > button,
.button_group > input[type=button],
.button_group > input[type=submit],
.button_group > input[type=file] {
	margin-right: 0;
	margin-left: 0;
}

.button_group > :nth-child(n+2) {
	border-left: none;
	border-radius: 0;
}

.button_group > :first-child {
	margin-left: 5px;
	border-radius: 2px 0 0 2px;
}

.button_group > :last-child {
	margin-right: 5px;
	border-radius: 0 2px 2px 0;
}
