form {
	font-size: 13px;
}

.input {
	display: inline-block;
	margin: 2px;
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 2px;
	background: #fff;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, .5);
	font-size: 13px;
	transition: all .25s;
}
.input::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

.input.big {
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	border-radius: 0;
}

.input:hover {
	border-color: #ccc;
}
.input.focus {
	border-color: #17a7df;
}
.input input {
	margin: 0;
	padding: 0 22px 0 5px;
	width: 200px;
	height: 20px;
	border: none;
	background: transparent calc(100% - 2px) 50% no-repeat;
	color: #2e2e2e;
}
.input.big input {
	font-size: 18px;
	font-weight: bold;
	width: 400px;
	height: 30px;
	text-align: center;
}
/* Input types */
.input.text input {
	padding: 0 5px;
	background-image: none;
	width: 217px;
}
.input.text.big input {
	width: 417px;
}
.input.password input {
	padding-right: 2px;
}
.input.password .switch {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	background: url('icons/g_16_preview.png') 50% 50% no-repeat;
}
.input.password.big .switch {
	height: 30px;
}
.input.user input { background-image: url('icons/g_16_user.png'); }
.input.email input { background-image: url('icons/g_16_mail.png'); }
