/* Reset all the things */
* { margin: 0; padding: 0; outline: none; }

html, body {
	height: 100%;
}

body {
	min-width: 900px;
	background: #dddddd;
	color: #2e2e2e;
	font: normal normal normal 12px "Segoe UI", Helvetica, "Droid Sans", Arial, Verdana, sans-serif;
}

h1 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 24px;
}

/* Wrapper */
.w_size {
	margin: auto;
	min-width: 900px;
	max-width: 90%;
}
.w_size_min { min-width: 900px; }

.w_content { padding: 20px 15px; }
.w_content_h { padding-right: 20px; padding-left: 20px; }
.w_content_v { padding-top: 15px; padding-bottom: 15px; }
.w_content_t { padding-top: 15px; }
.w_content_r { padding-right: 20px; }
.w_content_b { padding-bottom: 15px; }
.w_content_l { padding-left: 20px; }

.w_content_m { margin: 20px 15px; }
.w_content_m_h { margin-right: 20px; margin-left: 20px; }
.w_content_m_v { margin-top: 15px; margin-bottom: 15px; }
.w_content_m_t { margin-top: 15px; }
.w_content_m_r { margin-right: 20px; }
.w_content_m_b { margin-bottom: 15px; }
.w_content_m_l { margin-left: 20px; }

/* Info */
.info {
	padding: 20px;
	background: #d5f0ff;
	font-weight: bold;
	font-size: 14px;
}

/* Header */
header.main {
	display: block;
	padding: 5px 0 5px 0;
	height: 45px;
	/* background: url(images/header.png) #141414 center center repeat-x; */
	background: #252525;
}

header.main .logo {
	padding-top: 4px;
}
header.main .logo img {
	display: block;
	float: left;
	height: 40px;
}
header.main .slogan {
	display: block;
	float: left;
	overflow: hidden;
	margin: 12px 0 0 6px;
	max-width: 60%;
	color: #ffffff;
	white-space: nowrap;
	font-style: italic;
	font-size: 16px;
}

/* Main Navigation */
nav.site {
	height: 0;
}
nav.site ul {
	display: block;
	float: right;
	margin-top: -35px;
	height: 35px;
	list-style: none;
	font-weight: bold;
	font-size: 15px;
}
nav.site li {
	float: left;
	margin-left: 6px;
	height: 35px;
}
nav.site a {
	color: #2e2e2e;
	text-decoration: none;
}

nav.site li > a {
	display: block;
	padding: 0 10px;
	height: 35px;
	color: #ffffff;
	line-height: 35px;
	transition: all 0.25s;
}
nav.site li:hover > a, nav.site li.active > a {
	border-bottom: 2px solid #47ade8;
	color: #65c7ff;
}
/* NO! */
/* nav.site li.active > a {
	border-radius: 3px 3px 0 0; */
/* background: #dddddd; */
/* box-shadow: none; */
/* color: inherit; */
/* }
nav.site li.active:hover > a {
	border-bottom: none; */
/* color: #000000; */

/* User Panel */
.user_panel {
	position: absolute;
	margin-top: 2px;
	/* border-top: 3px solid #47ade8; */
	border-bottom: 1px solid #dddddd;
	/* background: rgba(10, 10, 10, 0.8); */
	background: #f6f6f6;
	color: #2e2e2e;
}
.user_panel::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

#user_panel_content {
	overflow: hidden;
	height: 0;
	background: #f6f6f6;
	/* background: rgba(20, 20, 20, 0.8); */
	line-height: 1;
	transition: all 0.25s;
}
#user_panel_content.opened {
	/* this shit doesn't work with transition: */
	/* height: auto; */
}

.search_bar {
	float: left;
}

.user_actions {
	float: right;
}

/* User navigation */
nav.user {
	margin-bottom: -1px;
	height: 30px;
	line-height: 29px;
}

nav.user ul {
	list-style: none;
}
nav.user li {
	display: block;
	float: left;
	margin-bottom: -1px;
	height: 31px;
	line-height: 31px;
}
nav.user li a {
	display: block;
	text-decoration: none;
	color: #2e2e2e;
	transition: all 0.25s;
	padding: 0 5px;
}
nav.user li a:hover, nav.user li a.active {
	box-shadow: 0 -2px 0 #333333 inset;
	color: #333333;
}

/* Sub navigation */
nav.sub { }

/* Content */
.main_content {
	padding-top: 30px;
	min-height: 1000px;
	border-top: 2px solid #dddddd;
	background: #f6f6f6;
}
.main_content::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

/* Footer */
footer {
	padding-top: 15px;
	padding-bottom: 20px;
	/* border-top: 3px solid #47ade8; */
	background: #dddddd;
}

footer .os {
	padding: 5px 0;
	text-align: right;
	line-height: 24px;
}
footer .os img {
	vertical-align: middle;
}
