/* Reset all the things */
* { margin: 0; padding: 0; outline: none; }

body {
	min-width: 900px;
	background: #dddddd;
	color: #2e2e2e;
	font: normal normal normal 12px "Segoe UI", Helvetica, "Droid Sans", Arial, Verdana, sans-serif;
}

h1 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 24px;
}

/* Wrapper */
.w_size {
	margin: auto;
	min-width: 900px;
	max-width: 90%;
}
.w_size_min { min-width: 900px; }

.w_content { padding: 20px 15px; }
.w_content_h { padding-right: 20px; padding-left: 20px; }
.w_content_v { padding-top: 15px; padding-bottom: 15px; }
.w_content_t { padding-top: 15px; }
.w_content_r { padding-right: 20px; }
.w_content_b { padding-bottom: 15px; }
.w_content_l { padding-left: 20px; }

.w_content_m { margin: 20px 15px; }
.w_content_m_h { margin-right: 20px; margin-left: 20px; }
.w_content_m_v { margin-top: 15px; margin-bottom: 15px; }
.w_content_m_t { margin-top: 15px; }
.w_content_m_r { margin-right: 20px; }
.w_content_m_b { margin-bottom: 15px; }
.w_content_m_l { margin-left: 20px; }

/* Info */
.info {
	background: #d5f0ff;
	padding: 20px;
	font-size: 14px;
	font-weight: bold;
}

/* User Panel */
.user_panel {
	/* position: absolute; */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	/* border-top: 3px solid #47ade8; */
	/* background: rgba(10, 10, 10, 0.8); */
	background: #3c4a58;
	color: #ffffff;
	line-height: 30px;
}
.user_panel::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

#user_panel_content {
	overflow: hidden;
	height: 0;
	background: #141414;
	line-height: 1;
	/*background: rgba(20, 20, 20, 0.8);*/
}

.search_bar {
	float: left;
}

.user_actions {
	float: right;
}
.user_actions > div {
	float: left;
}
.user_actions > div:hover {
	box-shadow: 0 -2px 0 #e9f9ff inset;
	color: #e9f9ff;
}
.user_info {
	margin-right: 25px;
}

/* Header */
header.main {
	display: block;
	padding: 33px 0 5px 0;
	height: 45px;
	/* background: url(images/header.png) #141414 center center repeat-x; */
	background: #252525;
}

header.main .logo {
	padding-top: 4px;
}
header.main .logo img {
	display: block;
	float: left;
	height: 40px;
}
header.main .slogan {
	display: block;
	float: left;
	margin: 12px 0 0 6px;
	color: #ffffff;
	font-size: 16px;
	font-style: italic;
	overflow: hidden;
	white-space: nowrap;
	max-width: 60%;
}

/* Main Navigation */
nav.site {
	height: 0;
}
nav.site ul {
	display: block;
	float: right;
	margin-top: -35px;
	height: 35px;
	list-style: none;
	font-weight: bold;
	font-size: 15px;
}
nav.site li {
	float: left;
	margin-left: 6px;
	height: 35px;
}
nav.site a {
	color: #2e2e2e;
	text-decoration: none;
}

nav.site li > a {
	display: block;
	padding: 0 15px;
	height: 35px;
	color: #ffffff;
	line-height: 35px;
}
nav.site li:hover > a {
	color: #65c7ff;
	border-bottom: 2px solid #47ade8;
}
nav.site li.active > a {
	border-radius: 3px 3px 0 0;
	background: #f6f6f6;
	box-shadow: none;
	color: inherit;
}
nav.site li.active:hover > a {
	color: #000000;
	border-bottom: none;
}

/* User navigation */
nav.user { }

/* Sub navigation */
nav.sub { }

/* Content */
.main_content {
	min-height: 1000px;
	/*background: #f6f6f6;*/
	background: #ddeaff;
}
.main_content::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}

/* Footer */
footer {
	padding-top: 15px;
	padding-bottom: 20px;
	/* border-top: 3px solid #47ade8; */
	background: #dddddd;
}
