/* Reset all the things */
* { margin: 0; padding: 0; outline: none; }

::selection {
	background-color: #47ade8;
	color: #fff;
}

html, body {
	height: 100%;
}

body {
	min-width: 900px;
	background: #dddddd;
	color: #2e2e2e;
	font: normal normal normal 13px "Segoe UI", Helvetica, "Droid Sans", Arial, Verdana, sans-serif;
}

h1 {
	margin: 0 0 10px 0;
	padding: 0;
	color: #2e2e2e;
	font-size: 30px;
}
h2 {
	color: #4d4d4d;
	font-size: 22px;
}
h3 {
	color: #999999;
	font-size: 22px;
}

/* Wrapper */
.w_size {
	margin: auto;
	min-width: 900px;
	max-width: 90%;
}
.w_size_min { min-width: 900px; }

.w_content { padding: 15px 20px; }
.w_content_h { padding-right: 20px; padding-left: 20px; }
.w_content_v { padding-top: 15px; padding-bottom: 15px; }
.w_content_t { padding-top: 15px; }
.w_content_r { padding-right: 20px; }
.w_content_b { padding-bottom: 15px; }
.w_content_l { padding-left: 20px; }

.w_content_m { margin: 20px 15px; }
.w_content_m_h { margin-right: 20px; margin-left: 20px; }
.w_content_m_v { margin-top: 15px; margin-bottom: 15px; }
.w_content_m_t { margin-top: 15px; }
.w_content_m_r { margin-right: 20px; }
.w_content_m_b { margin-bottom: 15px; }
.w_content_m_l { margin-left: 20px; }

/* Info */
.info {
	padding: 20px;
	background: #d5f0ff;
	font-weight: bold;
	font-size: 14px;
}

/* Header */
header.main {
	display: block;
	padding: 5px 0 5px 0;
	height: 45px;
	background: #252525;
}

header.main .logo {
	padding-top: 4px;
}
header.main .logo img {
	display: block;
	float: left;
	height: 40px;
}
header.main .slogan {
	display: block;
	float: left;
	overflow: hidden;
	margin-left: 6px;
	max-width: 60%;
	color: #ffffff;
	white-space: nowrap;
	font-style: italic;
	font-size: 16px;
	line-height: 40px;
}

/* Main Navigation */
nav.site {
	height: 0;
}
nav.site ul {
	display: block;
	float: right;
	margin-top: -55px;
	height: 55px;
	list-style: none;
	font-weight: bold;
	font-size: 15px;
}
nav.site li {
	float: left;
	margin-left: 6px;
	height: 55px;
}
nav.site a {
	color: #2e2e2e;
	text-decoration: none;
}

nav.site li > a {
	display: block;
	padding: 5px 10px 0 10px;
	height: 50px;
	border-bottom: 3px solid transparent;
	color: #ffffff;
	line-height: 50px;
	transition: all 0.25s;
}
nav.site li:hover > a, nav.site li.active > a {
	border-bottom-color: #47ade8;
	color: #65c7ff;
}

/* User Panel */
.user_panel {
	position: absolute;
	margin-top: 3px;
	/* border-top: 3px solid #47ade8; */
	border-bottom: 1px solid #dddddd;
	/* background: rgba(10, 10, 10, 0.8); */
	background: #fff;
	color: #2e2e2e;
}
.user_panel::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}
.user_panel.opened::after {
	display: block;
	clear: both;
	margin-top: 2px;
	margin-bottom: -151px;
	height: 150px;
	background: transparent linear-gradient(rgba(246, 246, 246, 1), rgba(246, 246, 246, 0));
	content: "";
	transition: all 0.25s;
}

#user_panel_content {
	overflow: hidden;
	height: 0;
	background: #f6f6f6;
	line-height: 1;
	transition: all 0.25s;
}
.user_panel.opened #user_panel_content {
	/* height: auto; */ /* this shit doesn't work with transition: */
	border-bottom: 1px solid #ddd;
}

.search_bar {
	float: left;
}
#main_search input[type=search] {
	display: block;
	float: left;
	box-sizing: content-box;
	margin-bottom: -1px;
	padding: 0 10px;
	width: 150px;
	height: 30px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: #fff;
	font-size: 13px;
	transition: all 0.25s;
	-webkit-appearance: textfield;
}
#main_search input[type=search]:hover {
	border-bottom-color: #17a7df;
}
#main_search input[type=search]:focus,
#main_search input[type=search]:active,
#main_search input[type=search].focus {
	width: 300px;
	border-bottom-color: #17a7df;
}
#main_search input[type=submit] {
	display: block;
	float: left;
	margin: 0;
	margin-bottom: -1px;
	width: 32px;
	height: 31px;
	border: none;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
	background: #fff url('icons/g_16_magnifying_glass.png') 50% 50% no-repeat;
	box-shadow: none;
	transition: all 0.25s;
}
#main_search input[type=submit]:hover {
	background-color: #ddd;
}
#main_search input[type=submit]:active {
	border-bottom: 1px solid #17a7df;
	background-color: #17a7df;
}

.user_actions {
	float: right;
}

/* User navigation */
#user_avatar {
	display: block;
	float: left;
	margin: 8px 5px 0 0;
	max-width: 16px;
	max-height: 16px;
}

nav.user {
	margin-bottom: -1px;
	height: 30px;
	line-height: 29px;
}

nav.user ul {
	list-style: none;
}
nav.user li {
	display: block;
	float: left;
	margin-bottom: -1px;
	height: 31px;
	line-height: 31px;
}
nav.user li a {
	display: block;
	padding: 0 10px;
	color: #2e2e2e;
	text-decoration: none;
	transition: all 0.25s;
}
nav.user li a:hover, nav.user li a.active {
	box-shadow: 0 -2px 0 #333333 inset;
	color: #333333;
}

/* Sub navigation */
nav.sub { }

/* Content */
.main_content {
	padding-top: 30px;
	min-height: 400px;
	border-top: 3px solid #dddddd;
	background: #f6f6f6;
	color: #555555;
}
.main_content::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}
.main_content p {
	margin: 15px 0;
	text-align: justify;
}

/* Footer */
footer {
	padding-top: 15px;
	padding-bottom: 20px;
	/* border-top: 3px solid #47ade8; */
	background: #dddddd;
}

footer img {
	vertical-align: middle;
}

footer a {
	color: inherit;
	text-decoration: none;
	transition: all 0.25s;
}
footer a:hover {
	color: #333;
}

/* Columns */
footer .column {
	display: block;
}
footer .column.center {
	min-width: 360px;
	text-align: center;
}

footer .column.left {
	float: left;
	width: 250px;
	height: 100%;
	text-align: left;
}

footer .column.right {
	float: right;
	width: 250px;
	height: 100%;
	text-align: right;
}


footer .os_wrapper {
	margin-top: 20px;
	text-align: center;
	white-space: nowrap;
}
footer .os {
	padding: 5px 0;
	text-align: center;
	line-height: 24px;
}
footer .os img {
	vertical-align: middle;
}

footer .about {
	color: #666;
	text-align: center;
	font-size: 13px;
}

footer .time_graph {
	float: right;
	width: 250px;
}
footer .time_graph::after,
.time_graph .day::after,
.time_graph .year::after {
	display: block;
	clear: both;
	height: 0;
	content: "";
}
.time_graph .progressbar {
	display: block;
	float: right;
	margin: 6px 0;
	width: 210px;
	height: 4px;
	background: #aaaaaa;
}
.time_graph .day .progressbar {
	width: 100px;
}
.time_graph .progress {
	max-width: 100%;
	width: 0;
	height: 4px;
	background: #095d8d;
}
.time_graph span {
	display: block;
	float: left;
	padding: 0 10px 0 18px;
	height: 16px;
	background-position: 0 50%;
	background-repeat: no-repeat;
	font-size: 13px;
	line-height: 16px;
}
.time_graph span.date {
	background-image: url('icons/g_16_calendar.png');
}
.time_graph span.time {
	padding-right: 0;
	background-image: url('icons/g_16_clock.png');
}
.time_graph span.week {
	padding-right: 0;
	background-image: url('icons/g_16_calendar_month.png');
}
