::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background: #ddd;
}

::-webkit-scrollbar-thumb {
	background: #808080;
}

::-webkit-scrollbar-thumb:hover {
	background: #4a90d9;
}
