@charset "utf-8";
/* CSS Document */

input[type=checkbox] {
	display: none;
}
	input[type=checkbox] + label.check {
		display: inline-block;
		height: 24px;
		width: 24px;
		background: url(checkbox.png) left top no-repeat;
		margin: 0 -3px 0 0;
	}
		input[type=checkbox] + label.check:hover {
			background-position: left -24px;
		}
		input[type=checkbox] + label.check:active {
			background-position: left -48px;
		}
	
	input[type=checkbox]:checked + label.check {
		background-position: left -72px;
	}
		input[type=checkbox]:checked + label.check:hover {
			background-position: left -96px;
		}
		input[type=checkbox]:checked + label.check:active {
			background-position: left -120px;
		}

input[type=radio] {
	display: none;
}
	input[type=radio] + label.check {
		display: inline-block;
		height: 16px;
		width: 16px;
		background: url(radiobutton.png) left top no-repeat;
		margin: 8px 5px -2px 0;
	}
		input[type=radio] + label.check:hover {
			background-position: left -16px;
		}
		input[type=radio] + label.check:active {
			background-position: left -32px;
		}
	
	input[type=radio]:checked + label.check {
		background-position: left -48px;
	}
		input[type=radio]:checked + label.check:hover {
			background-position: left -64px;
		}
		input[type=radio]:checked + label.check:active {
			background-position: left -80px;
		}
	